.display-none {
  display: none !important;
}

.display-hidden {
  display: hidden !important;
}

.display-block {
  display: block !important;
}

.display-inline-block {
  display: inline-block !important;
}

.display-flex {
  display: flex !important;
}

.display-inline-flex {
  display: inline-flex !important;
}


.flex-row-center{
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flex-column-center{
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-spread{
  justify-content: space-between;
}

.flex-center {
  align-items: center;
}

.flex-row-spread {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.flex-column-spread {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}
