// SMALL MARGINS

.small-margin {
  margin: 5px;
}

.small-margin-left {
  margin-left: 5px;
}

.small-margin-right {
  margin-right: 5px;
}

.small-margin-top {
  margin-top: 5px;
}

.small-margin-bottom {
  margin-bottom: 5px;
}

// MEDIUM MARGINS

.medium-margin {
  margin: 10px;
}

.medium-margin-left {
  margin-left: 10px;
}

.medium-margin-right {
  margin-right: 10px;
}

.medium-margin-top {
  margin-top: 10px;
}

.medium-margin-bottom {
  margin-bottom: 10px;
}

// LARGE MARGINS

.large-margin {
  margin: 15px;
}

.large-margin-left {
  margin-left: 15px;
}

.large-margin-right {
  margin-right: 15px;
}

.large-margin-top {
  margin-top: 15px;
}

.large-margin-bottom {
  margin-bottom: 15px;
}

// NO MARGINS

.no-margin {
  margin: 0;
}

.no-margin-left {
  margin-left: 0;
}

.no-margin-right {
  margin-right: 0;
}

.no-margin-top {
  margin-top: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

// SMALL PADDING

.small-padding {
  padding: 5px;
}

.small-padding-left {
  padding-left: 5px;
}

.small-padding-right {
  padding-right: 5px;
}

.small-padding-top {
  padding-top: 5px;
}

.small-padding-bottom {
  padding-bottom: 5px;
}

// MEDIUM PADDING

.medium-padding {
  padding: 10px;
}

.medium-padding-left {
  padding-left: 10px;
}

.medium-padding-right {
  padding-right: 10px;
}

.medium-padding-top {
  padding-top: 10px;
}

.medium-padding-bottom {
  padding-bottom: 10px;
}

// LARGE PADDING

.large-padding {
  padding: 15px;
}

.large-padding-left {
  padding-left: 15px;
}

.large-padding-right {
  padding-right: 15px;
}

.large-padding-top {
  padding-top: 15px;
}

.large-padding-bottom {
  padding-bottom: 15px;
}

// NO PADDING

.no-padding {
  padding: 0;
}

.no-padding-left {
  padding-left: 0;
}

.no-padding-right {
  padding-right: 0;
}

.no-padding-top {
  padding-top: 0;
}

.no-padding-bottom {
  padding-bottom: 0;
}
