.DS_Store
node_modules
_test-output
*.js.map
*.model.js
*.component.js
*.spec.js
*.module.js
*.service.js
*.abstract.js
src/main.js
lupaProject.json
*/app/assets/styles/**/*.css
/src/styles.css
*/app/components/**/*.component.css
.npm-debug.log
