<!DOCTYPE html>
<!-- The Dashboard Component Content (Rendered to screen)-->
<div class="container-fluid no-scroll no-padding">
  <div id="dash-view" class="background-linen">

    <!-- Search Menu Dropdown -->
    <div id="nav-dropdown-menu" class="display-flex bottom-shadow border-gray large-padding" [class.menu-active]="toggled">
      <div id="side-nav-dropdown" class="hidden-sm-down col-md-2 col-lg-1 large-padding-right">
        <img class="medium-border-right border-whitesmoke" src="/app/assets/images/cisco-logo-blue.svg" />
      </div>
      <div id="nav-body" class="display-flex col-xs-10 col-sm-12 col-md-8 col-lg-9 large-padding">
        <div class="hidden-md-up">
          <button class="close-button medium-border border-red font-red card-radius right" (click)="handleMenuToggle()">&times;</button>
        </div>
        <search-menu #searchMenu (customerSelectionChanged)='onCustomerSelectionChanged($event)'></search-menu>
      </div>
      <div class="hidden-sm-down col-md-2 col-lg-2">
        <button class="close-button medium-border border-red font-red card-radius right" (click)="handleMenuToggle()">&times;</button>
      </div>
    </div>

    <!--  -->
    <div id="dash-body" class="background-linen" [class.dash-active]="toggled">
      <div id="dash-bg">
        <div id="top-dash" class="background-blue display-flex large-padding">
        </div>
      </div>
      <div id="dash-content">
        <div class="col-xs-10 col-sm-12 col-md-12 col-lg-12 large-padding-top">
          <div id="dash-bar" class="display-inline-flex flex-center large-padding-bottom large-margin-bottom">
            <div id="mobile-dash-bar" class="hidden-md-up flex-row-spread">
              <i (click)="handleMenuToggle()" class="fa fa-search font-whitesmoke" aria-hidden="true"></i>
              <img class="border-whitesmoke" src="/app/assets/images/cisco-logo-white.svg" />
              <a href="/#/settings"><i class="fa fa-cog font-whitesmoke" aria-hidden="true"></i></a>
            </div>
            <div id="dash-img" class="hidden-sm-down col-md-2 col-lg-2">
              <img class="medium-border-right border-whitesmoke" src="/app/assets/images/cisco-logo-white.svg" />
            </div>
            <div class="large-padding-left">
              <button id="toggle" class="hidden-sm-down" (click)="handleMenuToggle()">
                <i class="fa fa-search large-margin-right font-whitesmoke" aria-hidden="true"></i>
                <span class="font-whitesmoke">Search for customers, metrics, or categories</span>
              </button>
            </div>
          </div>
          <div class="display-flex flex-row">
            <div id="side-nav" class="hidden-sm-down col-md-1 col-lg-1">
              <a href="/#/dashboard"><i class="fa fa-line-chart large-padding-bottom large-margin-left large-margin-bottom font-whitesmoke" aria-hidden="true"></i></a>
              <a href="/#/settings"><i class="fa fa-cog large-padding-bottom large-margin-left large-margin-bottom font-whitesmoke" aria-hidden="true"></i></a>
            </div>

            <div id="card-container-scroll" class="col-xs-12 col-sm-12 col-md-11 col-lg-11 no-padding-left">
              <!-- Draw the cards -->
              <div #cards id="card-container" class="card-columns">
                <card data-packed class="cards no-background no-border no-margin"
                  *ngFor="let dataPoint of filterCustomerDatapoints(selectedCustomerModel.data.datapoints)"
                  (tagSelected)="onCardTagSelected($event)"
                  [cardContentBuilder]="getContentBuilder(dataPoint.content.type)"
                  [cardModel]='buildCardModel(dataPoint)'></card>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
