#nav-dropdown-menu {
  width: 100vw;
  position: absolute;
  background-color: white;
  top: -500px;
  left: 0;
  z-index: 99;
  transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  box-shadow: 0px 1px 50px black;
}

#nav-body {
  flex-direction: column;
}

#dash-body {
  width: 100vw;
  height: 60vw;
  transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}

#top-dash {
  height: 40vh;
}

.menu-active {
  top: 0 !important;
  height: 388px !important;
  background-color: white;
}

#side-nav-dropdown img, #top-dash img {
  padding: 1em 2em 1em 0;
}

#toggle {
  background: none;
  border: none;
  cursor: pointer;
}

#toggle i {
  font-size: small;
}

#toggle span {
  font-style: italic;
  font-size: 12px;
  font-weight: 200;
}

.close-button {
  background: none;
  font-size: 1.5em;
  width: 2em;
  cursor: pointer;
}

.close-button:hover {
  background-color: #e2231b;
  color: white;
  transition: 0.5s;
}

.close-button:focus {
  box-shadow: none;
  outline: none;
  border: none;
}

.cards {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-top: 15px;
	padding: 1.5%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.card {

}

@media (min-width: 768px) {
  .card-columns {
        column-count: 4;
  }
}

@media only screen and (max-width : 767px) {
  #nav-dropdown-menu {
    padding: 0;
  }
}
