#nav-dropdown-menu {
  width: 100vw;
  position: absolute;
  background-color: white;
  top: -500px;
  left: 0;
  z-index: 99;
  transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  box-shadow: 0 1px 50px black;
}

#nav-body {
  flex-direction: column;
}

#dash-body {
  width: 100vw;
  height: 100vh;
  position:relative;
  transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}

#dash-bg {
  position: absolute;
  width:100%;
  height:100%;
}

::-webkit-scrollbar{
  background: transparent;
  width: 0;
}

#card-container-scroll {
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: auto;
}

.cards {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: inline-block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
}

.grid-item {
  max-width: 250px;
}
#top-dash {
  height: 50vh;
  z-index: 50;
}

#mobile-dash-bar {
  display: flex;
  width: 100%;
}

#mobile-dash-bar img {
  height: 2em;
}

#mobile-dash-bar i {
  font-size: 1.3em;
}

.menu-active {
  top: 0 !important;
  height: 383px !important;
  background-color: white;
}

#side-nav-dropdown img {
  padding: 1em 1em 1em 0;
}

#side-nav {
  display: flex;
  flex-direction: column;
}

#side-nav i {
  font-size: 1.2em;
  cursor: pointer;
}

#side-nav i:hover {
  transform: scale(1.2);
}

#dash-img img {
  padding: 1em 2em 1em 0;
}

#dash-img {
  margin-right: 2em;
}

#toggle {
  background: none;
  border: none;
  cursor: pointer;
}

#toggle i {
  font-size: small;
}

#toggle span {
  font-style: italic;
  font-size: 12px;
  font-weight: 200;
}

.close-button {
  background: none;
  font-size: 1.5em;
  width: 2em;
  cursor: pointer;
}

.close-button:hover {
  background-color: #e2231b;
  color: white;
  transition: 0.5s;
}

.close-button:focus {
  box-shadow: none;
  outline: none;
  border: none;
}


@media (min-width: 1600px) {
  .card-columns {
    column-count: 4;
    -webkit-column-count: 4;
    -moz-column-count: 4;
  }
}
@media (min-width: 1280px) and (max-width: 1599px) {
  .card-columns {
    column-count: 3;
    -webkit-column-count: 3;
    -moz-column-count: 3;
  }
}
@media (min-width: 577px) and (max-width: 1280px) {
  .card-columns {
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
  }
}
@media (min-width: 100px) and (max-width: 576px) {
  .card-columns {
    column-count: 1;
    -webkit-column-count: 1;
    -moz-column-count: 1;
  }
}
@media only screen and (max-width: 900px) {
  #card-container-scroll {
    padding: 0;
  }
}
@media only screen and (max-width : 767px) {
  #nav-dropdown-menu {
    padding: 0;
  }
  #dash-bar {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  #top-dash {
    padding-left: 1em;
  }
}
