.tagbar-item {
  margin-right: 3px;
  background-color: rgb(91, 192, 222);
  border-radius: .25em;
  font-size: 65%;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display:inline;
  padding: .2em .6em .3em;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
  width: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.tagbar-item [role="remove"] {
  margin-left: 8px;
  cursor: pointer;
}

.tagbar-input {
  width: 3em !important;
}
