<div class="tagbar display-flex">
  <!-- when any item is clicked, it is removed from the dataprovider -->

  <tagbar-item (clicked)=onTagBarItemClicked($event) *ngFor="let data of model.dataProvider" [dataProvider]='data'></tagbar-item>
  <input #tagInput type="text" placeholder="{{model.placeholderText}}" class="no-bg font-whitesmoke tagbar-input no-border no-radius" [ngModel]="model.nextTagInput" (focusout)="onTagbarSearchNextTag($event)" (keypress)="onTagbarSearchClear($event)" (keyup)="onTagbarSearchInput($event)"/>
</div>
