<div id="search-menu.container" class="full-size">
  <div id="searchbox">
    <!-- TODO @barcher SearchBox Component -->
    <div class="form-group">
      <label for="usr">Search:</label>
      <input type="text" class="form-control" id="usr">
    </div>
  </div>

  <tagbar #filterTagBar [model]='tagBarModel'></tagbar>

  <div class="row">
    <div id="filterSelection" class= "col">
      <customer-selector #customerSelector [dataProvider]='customerSelectorModel'></customer-selector>
    </div>
    <div  class= "col">
      <tag-selector #tagSelector [model]='tagSelectorModel'></tag-selector>
    <!-- <div  class= "col">
      <h2>Data Selection</h2>

    </div> -->
    </div>
  </div>
</div>
