<div>
  <div id="searchbox">
    <!-- TODO @barcher SearchBox Component -->
  </div>

  <div id="filterTags">
    <tagbar></tagbar>
  </div>

  <div id="filterSelection">
      <div>
        <h2>Customers</h2>
        <!-- TODO @wnamen fill out customers using ng-model -->
      </div>

      <div>
        <h2>Tags</h2>
        <!-- TODO @wnamen fill out tags using ng-model -->
      </div>

      <div>
        <h2>Data Selection</h2>
        <!-- TODO @wnamen fill out data selection using ng-model -->
      </div>
  </div>

</div>
