#login-form {
  height: 100vh;
  padding-top: 10em;
  background-image: url('/app/assets/images/home-background.png');
  background-color: rgba(76,70,134,1);
  background-blend-mode: multiply;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

#login-form h2, #signup-redirect {
  font-weight: 300;
}

#login-inputs, #login-button {
  width: 20vw;
}

#login-inputs {
  color: white;
}

#login-inputs input:focus {
  color: white;
  background-color: rgb(76,70,134);
  border-color: rgb(76,70,134);
}

#login-button {
  cursor: pointer;
}

#login-button:hover {
  background-color: #4c4686;
  border-color: #4c4686;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
:-moz-placeholder { /* Firefox 18- */
  color: white;
}

#signup-redirect {
  letter-spacing: 0.5px;
}

#signup-redirect a {
  cursor: pointer;
}

#signup-redirect a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 767px) {
  #login-inputs, #login-button {
    width: 65vw;
  }
}
