<!DOCTYPE html>
<div id="login-form">
  <form class="display-flex flex-column-center" (ngSubmit)="onSubmit($event)" #loginForm="ngForm">
    <h2 class="font-white large-margin-bottom">Cisco SSO Sign In</h2>
    <div id="login-inputs" class="large-margin-top large-margin-bottom">
      <div class="form-group"  >
          <input type="text" class="form-control font-white background-purple" name="email" placeholder="Email Address" [(ngModel)]="model.email" #email="ngModel" required />
      </div>
      <div class="form-group" >
          <input type="password" class="form-control font-white background-purple" name="password" placeholder="Password" [(ngModel)]="model.password" #password="ngModel" required />
      </div>
    </div>
    <button id="login-button" type="submit" class="btn btn-primary background-dark-green no-border">Sign In</button>
  </form>

  <div id="signup-redirect" class="display-flex flex-row-center font-white large-margin-top">
    <span class="medium-margin-right">Don't have an account yet?</span>
    <a href="/#/signup">Sign Up</a>
  </div>
</div>
