<p class="menu-titles medium-border-bottom border-whitesmoke medium-padding-bottom">CUSTOMERS</p>
<!-- TODO @wnamen fill out customers using ng-model -->
<div ngbDropdown class="d-inline-block">
<select class="form-control options-box" size="3" id="sel2">
    <option class="option-tag font-gray small-border-bottom border-whitesmoke" *ngFor="let customer of dataProvider.customers">{{customer.displayName}}</option>
    <!-- todo @barcher wire up the customers here using ngModel and ng-repeat -->
  </select>
</div>
