<div id="search-menu.container" class="">
  <div id="searchbox">

    <div class="form-group display-flex medium-border-bottom border-whitesmoke">
      <label for="usr"><i class="fa fa-search large-margin-right" aria-hidden="true"></i></label>
      <tagbar #filterTagBar [model]='tagBarModel'></tagbar>
    </div>
  </div>
  <div id="menuSelectors" class="display-flex col-sm-8 col-md-8 col-lg-8">
    <div id="customerSelection">
      <customer-selector #customerSelector
        (selectionChanged)='onCustomerSelectionChange($event)'
        [dataProvider]='customerSelectorModel'></customer-selector>
    </div>

    <div id="tagSelection">
      <tag-selector #tagSelector
        [hidden]="model.selectedCustomers.length == 0"
        (selectionChanged)='onTagSelectionChange($event)'
        [model]='tagSelectorModel'></tag-selector>
    </div>
  </div>
</div>
