// TODO @wnamen -- style this.
.dash-card {
  z-index: 98;
  max-width: 500px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  text-transform: uppercase;
  font-size: small;
  font-weight: 600;

}

.card-indicator {
  font-size: large;
}

.card-title {
  margin: 0 2em;
  letter-spacing: 1px;
}

.card-tag {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  width: auto;
  height: 1.75em;
  border-radius: 5px;
  cursor: pointer;
}

.card-tag:focus {
  border: none;
  outline: none;
}

.card-popover, .card-download {
  font-size: 16px;
  outline: none;
  cursor: pointer;
}

@media (min-width: 577px) {
  .dash-card {
      margin-top:0px
  }
}

@media (min-width: 100px) and (max-width: 576px) {
  .dash-card {
      column-count: 1;
      margin-top: 10px;
  }
}
