<!-- TODO @wnamen  Style this puppy -->
<div class="dash-card card-radius medium-padding background-white">
  <div class= "display-flex flex-row-spread large-margin-bottom">
    <i class="card-indicator fa fa-arrow-circle-o-up font-green" aria-hidden="true"></i>
    <p class="card-title">{{cardModel === undefined ? '' : cardModel.title}}</p>
    <div class="row card-tag-container">
      <button *ngFor="let tag of cardModel.tags" type="button"  class="card-tag large-margin-right {{getTagClass(tag.id)}} font-white no-border">{{tag.label.substring(0,5).toUpperCase()}}</button>
    </div>
  </div>

  <card-content #content
      [contentBuilder]="cardContentBuilder"
      [contentModel]="cardModel.contentModel"></card-content>

  <div class="large-margin-top">
    <button type="button"
            class="no-background no-border"
            ngbPopover="You see, I show up on hover!"
            triggers="mouseenter:mouseleave"
            popoverTitle="Pop title" container="body">
      <i class="fa fa-info-circle" aria-hidden="true"></i>
    </button>
  </div>
</div>
